streamlit
fastapi
uvicorn
requests
langchain-core
langchain-ollama
langchain-community
chromadb
langchain-huggingface
sentence-transformers
arize-phoenix
openinference-instrumentation-langchain
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-otlp
mcp